{:deps
 {org.clojure/tools.deps.alpha {:mvn/version "0.8.599"}
  clj-http {:mvn/version "3.10.0"}
  cheshire {:mvn/version "5.9.0"}
  com.cemerick/url {:mvn/version "0.1.1"}
  org.clojure/data.codec {:mvn/version "0.1.1"}
  environ {:mvn/version "1.1.0"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}}}}
 }
